/*============ GOOGLE FONTS ============*/
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");

/*============ VARIAVEIS CSS ============*/

/*============ CORES TEMA DARK ============*/
:root {
  --bg-color: #010101;
  --primary-color: #d71e47;
  --secondary-color: #fff;
  --tertiary-color: #353535;
  --font-color: #1d1d1d;
  --max-width: 90%;

  /*========== FONT SIZE ==========*/

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --h1-font-size: 4rem;
  --h2-font-size: 2.3rem;
  --h3-font-size: 1.9rem;

  --f1-font-size: 1rem;
  --f2-font-size: 1.25rem;
  --f3-font-size: 1.7rem;

  --fm1-font-size: 1.3rem;
  --fm2-font-size: 1rem;
  --fm3-font-size: 0.9rem;

  /*========== FONT WEIGHT ==========*/
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-900: 900;
}

/*============ CORES TEMA LIGHT ============*/
:root .light-theme {
  --bg-color: #d4d4d4;
  --primary-color: #d71e47;
  --secondary-color: #000000;
  --tertiary-color: #888888;
  --font-color: #1d1d1d;
}

/*============ VARIAVEIS CSS ============*/

/*============ CONFIGURAÇÕES DEFAULT ============*/
::selection {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--bg-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: solid 1px var(--bg-color);
  border-radius: 5px;
}

main {
  width: 100%;
  background-color: var(--bg-color);
}

.container {
  height: 100vh;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-top: 10vh;
  color: var(--primary-color);
}
